<div class="row">
  <div class="col-md-5">
    <h2>Tracks</h2>
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a track"><br>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let track of tracks | filter:searchText"
        (click)="selectTrack(track)"
        [class.active]="track === selectedTrack">
        {{track._id}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewTrack()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <track-details
      [track]="selectedTrack"
      [createHandler]="addTrack"
      [updateHandler]="updateTrack"
      [deleteHandler]="deleteTrack">
    </track-details>
  </div>
</div>
